@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator | Mission 3";
    ViewData["Header"] = "Calculate Grade";
}

@model GradeCalculator;

<p>Enter grades out of 100</p>
<form method="post">
    <div class="form-group">
        <label for="assignments">Assignments</label>
        <input class="form-control" id="assignments" asp-for="assignments" placeholder="Enter score out of 100" />
    </div>

    <div class="form-group">
        <label for="group-project">Group Project</label>
        <input class="form-control" id="group-project" asp-for="groupProject" placeholder="Enter score out of 100" />
    </div>

    <div class="form-group">
        <label for="quizzes">Quizzes</label>
        <input class="form-control" id="quizzes" asp-for="quizzes" placeholder="Enter score out of 100" />
    </div>

    <div class="form-group">
        <label for="exams">Exams</label>
        <input class="form-control" id="exams" asp-for="exams" placeholder="Enter score out of 100" />
    </div>

    <div class="form-group">
        <label for="intex">INTEX</label>
        <input class="form-control" id="intex" asp-for="intex" placeholder="Enter score out of 100" />
    </div>

    <button class="btn btn-primary mt-3" id="calculate">Calculate</button>
</form>

<div asp-validation-summary="All"></div>

<h2 class="result-container">
    Result: <span id="result"></span>
</h2>


<script src="/js/gradeCalculator.js"></script>