@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculate Grade | Mission 3";
}

<h1>Mission 2<br />(preferred name: Josh Moody)</h1>
<img src="img/thermic_lance.jpg" width="300" />
<h2>IS 413 Expecations</h2>
<p>
    In IS 413, I hope to learn as much as possible about ASP.NET and the MVC design pattern.
    I already have a lot of experience with web development but never these specific tools.
    I don't even know what I don't know yet, so I don't have any more specific than that.
</p>
<h2>Top 3 Jobs I Want to Pursue After Graduation</h2>
<ol>
    <li>Software Engineer</li>
    <li>Project Management</li>
    <li>Something to do with cybersecurity</li>
</ol>